:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    height: 100vh;

    background-image: url(image/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(50%);
    color: white;
}

.container {
    padding: 1.6rem;
}

.container-calculater {
    width: 32.0rem;
    margin: 7.2rem auto;
    padding: 3.2rem 1.6rem;

    background: rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
}

header h1 {
    font-size: 2.4rem;
    text-align: center;
}

main section {
    margin-top: 2.4rem;
}

label {
    font-size: 2.0rem;
    line-height: 3.2rem;
}

input {
    width: 100%;
    padding: 1.0rem;
    font-size: 2.0rem;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.calculateButton {
    width: 100%;
    margin-top: 3.2rem;
    padding: 1.2rem;
    font-size: 1.6rem;

    font-weight: 600;
    background: yellow;
    border-radius: 0.8rem;
    border: none;
    transition: 200ms;
}

.calculateButton:hover {
    cursor: pointer;
    background: rgb(228, 228, 18);
}

aside {
    text-align: center;
}

aside h2 {
    margin-top: 2.4rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

aside p {
    font-size: 2.0rem;
    width: 20.0rem;
    margin: 0 auto;
}

.containerModal {
    position: absolute;
    inset: 0;

    display: grid;
    place-items: center;

    color: black;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal {
    height: 15.0rem;    
    width: 32.0rem;    
    margin: 0 auto;
    padding: 3.2rem;
    
    border-radius: 0.8rem;
    box-shadow: .1rem .2rem .4rem black;
    
    font-size: 3.2rem;
    text-align: center;
    background: white;
    position: relative;
}

.modal p {
    color: black;
    font-size: 3.2rem;
}

.closeButton {
    position: absolute;
    top: 1.0rem;
    right: 1.0rem;

    background: none;
    border: none;
    font-size: 2.0rem;
    transition: 200ms;
}

.closeButton:hover {
    cursor: pointer;
    scale: 1.1;
}

footer {
    text-align: center;
    font-size: 1.8rem;
    
    padding: 4.8rem 0rem 1.6rem;
}